body {
  background-color: #1e1e1e;
  text-align: center;
}

canvas {
  vertical-align: top;
}

#game {
  margin-top: 32px;
  margin-bottom: 16px;
  display: inline-block;
  border: 8px solid #cfcfcf;
}

#description {
  user-select: none;
  font-family: 'Courier New', Courier, monospace;
  color: #cfcfcf;
}

#fluff, #needs, #destroy {
  margin: 24px;
  display: block;
  font-weight: bold;
  font-size: larger;
}

#fluff, #destroy {
  display: block;
  font-size: x-large;
}

#needs, #destroy {
  display: none;
}

#destroy {
  color: red;
}